/* TABLET DESIGN */

@media (min-width: 768px) {
  /* HEADER */
  header {
    height: 199px;
    width: 85%;
    margin-left: 15%;
  }

  .hdr-container {
    display: flex;
    justify-content: space-between;
  }

  #hdr-logo {
    width: 123px;
    height: 123px;
    display: flex;
    align-self: center;
    margin-right: 23%;
    margin-left: 17px;
  }

  .menu-icon {
    display: none;
  }

  .hdr-title {
    margin-right: 40px;
  }

  .hdr-title h2 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 40px;
  }

  .hdr-title h3 {
    margin-bottom: 50px;
  }

  .separator-bar {
    width: 140%;
  }

  /* SIDEBAR */

  aside {
    display: inline-block;
    width: 15%;
    height: 100vh;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background: #afafc2;
  }

  /* MAIN */
  main {
    width: 85%;
    padding: 199px 62px 0;
    margin-left: 15%;
  }

  #art-1 h1 {
    font-size: 30px;
    line-height: 35px;
  }

  #art-1 h2 {
    font-size: 24px;
    line-height: 28px;
  }

  #art-1 p {
    font-size: 18px;
    line-height: 21px;
  }

  #art-1 img {
    width: 80%;
  }

  #art-1 button {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  #art-2 .art-2-tablet-mobile img {
    width: 100%;
    height: 380px;
  }

  #art-2 .art-2-tablet-mobile h3 {
    font-size: 30px;
    line-height: 46px;
    align-self: center;
  }

  #art-2 .art-2-tablet-mobile p {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  #art-2 .art-2-tablet-mobile button {
    display: none;
  }

  #art-3 h2,
  #art-4 h2 {
    font-size: 40px;
    line-height: 47px;
  }

  .img-text-boxes .txt-boxes {
    padding-left: 60px;
  }

  .img-text-boxes .txt-boxes h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .img-text-boxes .txt-boxes p {
    font-size: 18px;
    line-height: 18px;
  }

  .img-text-boxes .img-boxes img {
    width: 180px;
  }

  form h3 {
    font-size: 30px;
    line-height: 46px;
    color: #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 20px 70px;
    margin-top: 60px;
  }

  form select,
  textarea,
  #name,
  #email {
    height: 52px;
    border: 1px solid #373867;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
  }

  textarea {
    height: 200px;
  }

  .checkbox-2 :nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .checkbox-2 :nth-child(1) label {
    font-size: 20px;
    line-height: 31px;
    color: #373867;
  }

  .checkbox-2 :nth-child(2) {
    justify-content: flex-start;
  }

  .submit-button {
    padding: 0 10px 0 15px;
    margin-top: 30px;
    width: 190px;
    height: 56px;
    border: none;
    background: #aace9b;
    color: #fff;
    font-family: "Roboto";
    font-style: normal;
    text-transform: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
  }

  .checkbox-2 :nth-child(2) button {
    margin: 30px 0 0 40px;
    width: 190px;
    height: 56px;
    border: 1px solid #373867;
    background: #f6f3f3;
    color: #373867;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
  }

  .lists h3 {
    font-size: 48px;
    line-height: 74px;
    padding: 0 60px 0 15px;
    width: 280px;
  }

  .list-column ol a li {
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0;
  }

  /* FOOTER */

  footer {
    width: 85%;
    height: 150px;
    margin-left: 15%;
  }
}

/* DESKTOP DESIGN */

@media (min-width: 1024px) {
  /* HEADER */
  header {
    position: relative;
    top: 0;
    left: 15%;
    width: 85%;
    height: 102px;
    margin-left: 0;
  }

  .hdr-container {
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 3px solid;
    margin-left: 3%;
    margin-right: 3%;
  }

  .social-network-icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 182px;
    margin-bottom: 25px;
  }

  .social-network-icons a {
    width: 22px;
    height: 22px;
    border-radius: 50%;
  }

  /* SIDEBAR */
  aside {
    display: inline-block;
    width: 15%;
    height: 100vh;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    background: #afafc2;
  }

  /* MAIN */
  main {
    padding-top: 97px;
    padding-left: 3%;
    padding-right: 3%;
    width: 85%;
    margin-left: 15%;
  }

  .menu-icon,
  #hdr-logo,
  .hdr-title,
  #art-2 .art-2-tablet-mobile {
    display: none;
  }

  #art-1,
  #art-2,
  #art-3,
  #art-4 {
    flex-direction: row;
  }

  #art-1 :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 3%;
  }

  #art-1 h1 {
    font-size: 54px;
    font-weight: bold;
    line-height: 63px;
  }

  #art-1 h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  }

  #art-1 p {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  #art-1 img {
    height: 640px;
    width: 400px;
    order: 1;
  }

  #art-1 button {
    background: #fff;
    border: none;
    color: #373867;
    border: 2px solid #373867;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }

  #art-2 .art-2-dktop {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  #art-2 img {
    width: 404px;
    height: 261px;
  }
  #art-2 #img-left {
    float: left;
    margin-right: 30px;
  }
  #art-2 #img-right {
    float: right;
    margin-left: 30px;
  }

  #art-2 p {
    width: 100%;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
  }

  #art-2 h2,
  #art-3 h2,
  #art-4 h2 {
    width: 70%;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
    margin-top: 60px;
  }

  #art-3,
  #art-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  #art-3 .dktop-img-txt-boxes,
  #art-4 .dktop-img-txt-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .img-text-boxes {
    padding-right: 5%;
  }

  .img-text-boxes .img-boxes img {
    width: 160px;
  }

  .img-text-boxes .txt-boxes h3 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 25px;
  }

  .img-text-boxes .txt-boxes p {
    font-size: 15px;
    line-height: 24px;
  }

  form {
    padding: 0 15%;
  }

  form h3 {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #231f20;
    border-top: none;
    border-bottom: 4px solid #f56a6a;
    margin-bottom: 100px;
    padding: 0 10px;
  }

  form .checkbox-1 {
    display: flex;
    align-self: flex-end;
  }

  .name-email-dktop {
    display: flex;
    justify-content: space-between;
  }

  form select,
  textarea,
  #name,
  #email {
    height: 30px;
    background: #fff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-family: "Roboto";
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    border: 1px solid #373867;
    margin-bottom: 20px;
    padding-left: 16px;
  }

  #name,
  #email {
    width: 40%;
  }

  form select {
    margin-top: 50px;
  }

  form textarea {
    height: 326px;
    margin-top: 130px;
  }

  .checkbox-2 :nth-child(2) button {
    display: none;
  }

  .checkbox-2 :nth-child(1),
  .checkbox-2 :nth-child(2) {
    justify-content: flex-end;
  }

  .checkbox-2 :nth-child(1) label {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    color: #373867;
  }

  .submit-button {
    border: 1px solid #373867;
    text-align: center;
    width: 128px;
    height: 34px;
    background: #f56a6a;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
    padding-right: 3%;
  }

  .lists {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .lists h3 {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    padding: 0 60px 0 15px;
    width: 280px;
    border-bottom: none;
    padding: 0 60px 0 15px;
    width: 150px;
  }

  .list-column ol {
    list-style-type: decimal;
  }

  .list-column ol a li {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin: 0px 32px;
    color: #373867;
  }

  .page-index {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-index button {
    width: 95px;
    height: 46px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    line-height: 120%;
    cursor: pointer;
  }

  .page-index ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .page-index ul li {
    margin: 0 25px;
  }

  .page-index button:hover {
    border: 2px solid rgba(55, 56, 103, 0.5);
  }

  .page-index button:active {
    background: #373867;
    color: #ffffff;
  }

  .page-index ul a {
    width: 57.67px;
    height: 46px;
    display: flex;
    align-items: center;
  }
  .page-index ul a:hover {
    border: 1px solid #373867;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .page-index ul a:active {
    background: #373867;
    color: #ffffff;
  }

  /* FOOTER */
  footer {
    width: 80%;
    margin-left: 18%;
    background-color: #fff;
    border-top: 3px solid;
  }
}
