/* TABLET DESIGN */

@media (min-width: 768px) {
  /* HEADER */
  header {
    height: 199px;
  }

  .hdr-container {
    display: flex;
    justify-content: space-between;
  }

  #hdr-logo {
    width: 123px;
    height: 123px;
    display: flex;
    align-self: center;
    margin-right: 23%;
    margin-left: 17px;
  }

  .menu-icon {
    padding-top: 15px;
    padding-left: 12px;
    width: 40px;
    height: 47px;
  }
  .menu-icon a {
    font-size: 32px;
  }

  .hdr-title {
    margin-right: 40px;
  }

  .hdr-title h2 {
    font-size: 60px;
    line-height: 70px;
    margin-top: 40px;
  }

  .hdr-title h3 {
    margin-bottom: 50px;
  }

  .separator-bar {
    width: 398px;
  }

  /* MAIN */
  main {
    padding: 199px 62px 0;
  }

  #art-1 h1 {
    font-size: 30px;
    line-height: 35px;
  }

  #art-1 h2 {
    font-size: 24px;
    line-height: 28px;
  }

  #art-1 p {
    font-size: 18px;
    line-height: 21px;
  }

  #art-1 img {
    width: 80%;
  }

  #art-1 button {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }

  #art-2 .art-2-tablet-mobile img {
    width: 100%;
    height: 380px;
  }

  #art-2 .art-2-tablet-mobile h3 {
    font-size: 30px;
    line-height: 46px;
    align-self: center;
  }

  #art-2 .art-2-tablet-mobile p {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  #art-2 .art-2-tablet-mobile button {
    display: none;
  }

  #art-3 h2,
  #art-4 h2 {
    font-size: 40px;
    line-height: 47px;
  }

  .img-text-boxes .txt-boxes {
    padding-left: 60px;
  }

  .img-text-boxes .txt-boxes h3 {
    font-size: 24px;
    line-height: 28px;
  }

  .img-text-boxes .txt-boxes p {
    font-size: 18px;
    line-height: 18px;
  }

  .img-text-boxes .img-boxes img {
    width: 180px;
  }

  form h3 {
    font-size: 30px;
    line-height: 46px;
    color: #000000;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 20px 70px;
    margin-top: 60px;
  }

  form select,
  textarea,
  #name,
  #email {
    height: 52px;
    border: 1px solid #373867;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
  }

  textarea {
    height: 200px;
  }

  .checkbox-2 :nth-child(1) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }

  .checkbox-2 :nth-child(1) label {
    font-size: 20px;
    line-height: 31px;
    color: #373867;
  }

  .checkbox-2 :nth-child(2) {
    justify-content: flex-start;
  }

  .submit-button {
    padding: 0 10px 0 15px;
    margin-top: 30px;
    width: 190px;
    height: 56px;
    border: none;
    background: #aace9b;
    color: #fff;
    font-family: "Roboto";
    font-style: normal;
    text-transform: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #373867;
  }

  .checkbox-2 :nth-child(2) button {
    margin: 30px 0 0 40px;
    width: 190px;
    height: 56px;
    border: 1px solid #373867;
    background: #f6f3f3;
    color: #373867;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
  }

  .lists h3 {
    font-size: 48px;
    line-height: 74px;
    padding: 0 60px 0 15px;
    width: 280px;
  }

  .list-column ol a li {
    font-size: 16px;
    line-height: 25px;
    margin: 30px 0;
  }

  /* FOOTER */

  footer {
    height: 150px;
  }
}

/* DESKTOP DESIGN */

@media (min-width: 1024px) {
}
